@using System.Text
@model IEnumerable<Museando.Web.Models.Imagem>

@{
	ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
	<a asp-action="Create">Create New</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>@Html.DisplayNameFor(model => model.Peca)</th>
			<th>@Html.DisplayNameFor(model => model.Conteudo)</th>
			<th>@Html.DisplayNameFor(model => model.Cadastro)</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>@item.Peca.Titulo</td>
				<td>
					<img src="data:image/png;base64,@Convert.ToBase64String(item.Conteudo)" height="100px">
				</td>
				<td>@Html.DisplayFor(modelItem => item.Cadastro)</td>
				<td>
					<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>
